body {
    font-family: Arial, sans-serif;
    background-color: #f8bfc7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.birthday-list {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.birthday-list h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.person img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.details {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.age {
    color: gray;
}

.view-all {
    display: block;
    background-color: #f86b82;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.view-all:hover {
    background-color: #ff516d;
}